@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center-column {
    @include flex-center();
    flex-direction: column;
}

@mixin white-transparent-card {
    border: 1px solid #D9D9D9;
    border-radius: 33px;
    background-color: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(15px);
    padding: 1rem;
}

@mixin box-shadow-bottom {
    box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
}

@mixin box-shadow-top {
    box-shadow: 0px -4px 10px rgba(0,0,0,0.25);
}